@import url('https://fonts.googleapis.com/css?family=Damion');
@import url('https://fonts.googleapis.com/css?family=Caveat');
@import url('https://fonts.googleapis.com/css?family=Delicious+Handrawn');

#newactform{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#createact{
  border: 4.2px #7a95ee;
  border-style: solid none solid none;
  width: 300px;
  border-radius:20px;
  height: fit-content;
  padding: 20px;
  display:flex;
  margin: 8px;
  flex-direction: column;
  align-items: left;
  text-align: center;
  justify-content: space-around;
  font-family: 'Delicious Handrawn';
  list-style-type: none;
}

#actlabel{
  font-family: 'Delicious Handrawn';
  font-size:25px;
  font-weight: 200;
}

.actinput{
  border: 2px solid #7a95ee;
  border-radius: 10px;
  border-style: inset;
  margin: 4px;
  padding: 5px;
}

.subact{
  margin: 4px;
  padding: 4px;
  width: fit-content;
  border: solid 1.2px #7a95ee;
  color: #7a95ee;
  border-radius: 8px;
}

.subact:hover {
  background-color: #7a95ee;
  color:white;
  border: solid 1.2px white;
}

#activitybox{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding:60px;
}
.activityform{
  border: solid 4.2px #7a95ee;
  width: 300px;
  border-radius:10px;
  height: fit-content;
  padding:5px;
  display:flex;
  margin: 8px;
  flex-direction: column;
  align-items: left;
  text-align: center;
  justify-content: space-around;
  font-family: 'Delicious Handrawn';
  list-style-type: none;
}

.mainact{
  font-size:25px;
  font-weight: 200;
}