@import url('https://fonts.googleapis.com/css?family=Damion');
@import url('https://fonts.googleapis.com/css?family=Caveat');
@import url('https://fonts.googleapis.com/css?family=Delicious+Handrawn');
@import url('https://fonts.googleapis.com/css?family=Lemon');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

#headbox {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #7a95ee;
  width:100%;
  height:auto;
}

#topper {
  margin:8px;
  color:white;
  font-size: 22px;
}

#headline {
  margin:3px;
  font-family: 'Pacifico';
  font-size:45px;
  font-weight:300;
}

#mottoline {
  margin:5px;
  font-family: 'Delicious Handrawn';
  font-size:25px;
  font-weight: lighter;
}

#navbar {
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin:20px;
  font-family:'Delicious Handrawn';
  font-size: 22px;
  font-weight: bold;
}

.navs {
  border: solid 3px white;
  border-radius: 8px;
  text-decoration: none;
  font-family:'Caveat';
  font-size: 22px;
  font-weight: bold;
  color: white;
  padding: 10px;
  margin: 8px;
  background-color: #7a95ee;
}

.navs:hover {
  background-color: #41bcfa;
  color:white;
  border: solid 3px white;
}