@import url('https://fonts.googleapis.com/css?family=Damion');
@import url('https://fonts.googleapis.com/css?family=Caveat');

#headbox {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #7a95ee;
  width:100%;
  height:auto;
  margin:0px;
}

#topper {
  margin:8px;
  color:white;
  font-size: 22px;
}

#headline {
  margin:5px;
  font-family: 'Damion';
}

#mottoline {
  margin:5px;
  font-family: '';
}

#navbar {
  float: right;
  display: flex;
  flex-direction: row;
  margin:20px;
  font-family:'Caveat';
  font-size: 22px;
  font-weight: bold;
}

.navs {
  border: solid 3px white;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  padding: 10px;
  margin: 8px;
}

