@import url('https://fonts.googleapis.com/css?family=Damion');
@import url('https://fonts.googleapis.com/css?family=Caveat');
@import url('https://fonts.googleapis.com/css?family=Delicious+Handrawn');

#routinebox {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.routine {
  border: solid 4.2px #00377A;
  width: 300px;
  border-radius:10px;
  height: fit-content;
  padding:5px;
  display:flex;
  margin: 8px;
  flex-direction: column;
  align-items: left;
  text-align: center;
  justify-content: space-around;
}

.routine * {
  font-family: 'Delicious Handrawn';
  margin: 5px
}

h3.main {
  font-size:25px;
  font-weight: 200;
}

p.main {
  font-size: 20px;
  font-weight: 200;
}

.details {
  font-size: 19px;
  font-weight: lighter;
}

.activity * {
  text-align: center;
  font-weight: lighter;
  font-size: 17px;
}

.activity .main {
  font-size: 20px;
  font-weight: 400;
}

